.headBand{
    height: 100%; 
    width: 100%;
    display: flex;
    align-items: center; 
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2);
}

.project{
    padding-left: 15%;
    font-family: "Noto Sans";
    font-size: 24px;
    font-weight: 600;
    color: rgb(127, 127, 127);
}

